@import "tailwindcss";

@theme {
  --font-sans: "Instrument Sans", sans-serif;

  @keyframes shimmer {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: -200% 50%;
    }
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100dvh;
  }
}

@layer components {
  body {
    @apply min-h-screen overflow-hidden bg-neutral-950 text-neutral-50 font-sans;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-900;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    @apply bg-neutral-800;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-700;
  }
}
